<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClothingStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <link href="~/lib/fontawesome/all.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/solid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClothingStore.styles.css" asp-append-version="true" />
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" asp-area="Admin" asp-controller="Home" asp-action="Index">
            <img src="~/assets/LogoClothingStore.jpg" alt="Logo" style="height: 50px;width: 50px;margin-right: 18px;border-radius: 34%;">DENANA
        </a>
        <!-- Sidebar Toggle-->
        <div class="input-group">
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        </div>

        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        </form>
       

    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            لوحة التحكم
                        </a>
                        <a class="nav-link" asp-area="Admin" asp-controller="Customer" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            العملاء
                        </a>
                        <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            المنتجات
                        </a>
                        <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            الفئات
                        </a>
                        <a class="nav-link" asp-area="Admin" asp-controller="CustomerInvoice" asp-action="Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            فاتورة العميل
                        </a>
                       
                    </div>
                </div>
            </nav>
        </div>
    <div id="layoutSidenav_content">
        <main role="main" class="pb-3" style="margin-left: 21px;">
            <div class="container-fluid px-4">
                @RenderBody()
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">&copy; 2025 - DENANA</div>
                </div>
            </div>
        </footer>
    </div>
    </div>
    <script src="~/lib/charts/chart.umd.js"></script>
    <script src="~/lib/charts/chart.js"></script>
    @* <script src="~/lib/jquery/dist/jquery-3.6.0.min.js"></script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/fontawesome/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
